body {
    margin:5px;
    padding:0;
}

p {
    margin:0;
}

.rectangle {
    background-color: rgba(235, 0, 0, 0.8);
    position:absolute;
}

.triangle {
    position: absolute;
}

.circle {
    background-color: rgba(0, 235, 0, 0.8);
    position: absolute;
    border-radius: 50%;
}